<!--<div  class="swiper-container" [swiper]="config">-->
<!--  <div class="swiper-wrapper">-->
<!--    <div class="swiper-slide">-->
<!--      Swiper slide content 1-->
<!--    </div>-->
<!--    <div class="swiper-slide">-->
<!--      Swiper slide content 2-->
<!--    </div>-->
<!--    <div class="swiper-slide">-->
<!--      Swiper slide content 3-->
<!--    </div>-->
<!--    <div class="swiper-slide">-->
<!--      Swiper slide content 4-->
<!--    </div>-->
<!--    <div class="swiper-slide">-->
<!--      Swiper slide content 5-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="swiper-scrollbar"></div>-->
<!--  <div class="swiper-pagination"></div>-->

<!--  <div class="swiper-button-prev"></div>-->
<!--  <div class="swiper-button-next"></div>-->
<!--</div>-->
<swiper
  [slidesPerView]="3"
  [spaceBetween]="50"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }"
>
  <ng-template swiperSlide>Slide 1</ng-template>
  <ng-template swiperSlide>Slide 2</ng-template>
  <ng-template swiperSlide>Slide 3</ng-template>
  <ng-template swiperSlide>Slide 4</ng-template>
  <ng-template swiperSlide>Slide 5</ng-template>
  <ng-template swiperSlide>Slide 6</ng-template>
</swiper>
